<h1>
    <h3>Datos de la Persona</h3>
    <table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>Nombre</th>
        <td><%= @persona[:nombre] %></td>
    </tr>
    <tr>
        <th>Apellido</th>
        <td><%= @persona[:apellido] %></td>
    </tr>
    <tr>
        <th>Teléfono</th>
        <td><%= @persona[:teléfono] %></td>
    </tr>
    <tr>
        <th>Correo</th>
        <td><%= @persona[:correo] %></td>
    </tr>
    </table>



